:root {
    --colorbg: #0F6089;
    --colortheme: #F9A71C;
    --colorlight: #eee;
    --colortext: #444;
}

body{
    background-color: var(--colorbg);
    color: var(--colortext);
}

h1, .h1{color: var(--colorlight);}
h2, .h2{color: #fff}

.content, .header, #generate input, #generate textarea, #submitdiv, select {
    border-color: var(--colortheme);
}

.content {
    background-color: var(--colorlight);
}

.header {
    background-color: var(--colortheme);
}

#generate .submit {
    background-color: var(--colortheme);
    color: var(--colorlight);
    border-color: var(--colorlight);
}