:root {
    --colorbg: #888;
    --colortheme: #343a40;
    --colorlight: #eee;
    --colortext: #444;
}

body{
    background-color: var(--colorbg);
    color: var(--colortext);
}

h1, .h1{color: var(--colorlight);}
h2, .h2{color: #fff}

/* Allows for WIP features to be hidden on lve version */
.hidden {
    display: none;
}

.content, .header, #generate input, #generate textarea, #record input, #record textarea, #submitdiv {
    border-color: var(--colortheme);
}

.content {
    background-color: var(--colorlight);
}

.header {
    background-color: var(--colortheme);
}

#generate .submit, #record .submit {
    background-color: var(--colortheme);
    color: var(--colorlight);
    border-color: var(--colorlight);
}

#record .field {
    width: 4em;
}

#record .field.address {
    width: 36%;
}

#cpu-zzz {
    display: none;
}

#cpu-zzz-table {
    display: none;
}

#record textarea {
    height: 9em;
}

#generate input, #generate textarea, #record input, #record textarea {
    font-family: monospace;
}