:root {
    --colorbg: #111;
    --colortheme: #C29F43;
    --colorlight: #eee;
    --colortext: #444;
    --bggradient: linear-gradient( to left, #F6DA7E, #C29F43 );
}

body{
    background-image: linear-gradient( #8e9eab, #eef2f3 );
    color: var(--colortext);
}

h1, .h1{color: var(--colorlight);}
h2, .h2{color: #fff}

.content, .header, #generate input, #generate textarea, #submitdiv, select {
    border-color: var(--colortheme);
}

.content {
    background-color: var(--colorlight);
}

.header {
    background-image: var(--bggradient);
}


#generate .submit {
    background-color: var(--colortheme);
    color: var(--colorlight);
    border-color: var(--colorlight);
}